{% extends 'base.html' %}
{% block body %}


<div class="emailForm mx-auto" style="width: 500px;">
    <h1>Update database</h1>
    <form action="/update/{{User.id}}" method="POST">
        <div class="mb-3">
            <label for="exampleInputUsername1" class="form-label">UserName</label>
            <input type="text" class="form-control" name="username" value="{{User.username}}" id="exampleInputUserName1">
        </div>
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email address</label>
            <input type="email" class="form-control" name="email" id="exampleInputEmail1" value="{{User.email}}" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Password</label>
            <input type="text" class="form-control" name="password" value="{{User.password}}" id="exampleInputPassword1">
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
{% endblock body %}